@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  background-color: #53A2BE;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #53A2BE;
  color: #ffffff;
  text-align: center;
}

.filter-buttons {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #397B84;
  color: #ffffff;
  box-shadow: none;
  border-radius: 0;
}

.filter-button {
  background-color: #53A2BE;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.filter-button.active {
  background-color: #1F4347;
  color: #ffffff;
}

.map-and-data {
  height: 800px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
}

#map {
  height: 800px;
  flex: 1;
  width: 50%;
  background-color: #F2F2F2;
}

#data {
  height: 800px;
  flex: 1;
  width: 50%;
  overflow: scroll;
  background-color: #F2F2F2;
}

.macroscopic {
  width: 100%;
  height: 800px;
  flex: 1;
  background-color: #F2F2F2;
}