@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    background-color: #53A2BE;
    font-family: 'Montserrat', sans-serif;
  }

  header {
    background-color: #53A2BE;
    color: #ffffff;
    text-align:center;
  }

  .filter-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #397B84;
    color: #ffffff;
    box-shadow: none;
    border-radius: 0;
  }

  .filter-button {
    background-color: #53A2BE;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .filter-button.active {
    background-color: #1F4347;
    color: #ffffff;
  }

  .map-and-data {
    height: 800px;
    background-color: #ffffff;
  }

  .map {
    height: 800px; 
    width: 800px;
    background-color: #F2F2F2;
  }

  .data {
    height: 700px; 
    width: 400px;
    position:absolute;
    overflow: scroll;
    top:150px;
    right:400px;
    background-color: #F2F2F2;
  }